<% @posts.each do |post| %>
  <article>
    <h3><%= post.title -%></h3>
    <h4 class="date"><%= time_ago_in_words(post.created_at) -%> ago</h4>
    <p>
      <%= raw RedCloth.new(post.content).to_html -%>
      <br />
      <% if admin? -%>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
      <% end -%>
    </p>
  </article>
<% end %>

<br />

<% if admin? -%>
<%= link_to 'New Post', new_post_path %>
<% end -%>
