<!DOCTYPE html>
<html>
<head>
  <title>KD0PNS</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>KD0PNS</h1>
  </header>

  <nav>
    <ul>
      <li><%= link_to 'Home', root_url -%></li>
      <li><%= link_to 'Log', logs_url -%></li>
      <li><%= link_to 'Posts', posts_url -%></li>
      <li><%= link_to 'About', about_index_url -%></li>
    </ul>
  </nav>

  <section id="main">
    <%= yield -%>
  </section>

</body>
</html>
